.gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  .cardContainer {
    position: relative;
    display: flex;
    width: 100%; /* 카드의 너비 설정 */
    height: 50%; /* 카드의 높이 설정 */
  }
  
  .card {
    position: absolute;
    top: -300px; /* 카드가 처음에 위치하는 Y 좌표 */
    left: 50%;
    width: 20%;
    height: 100%;
    cursor: pointer;
    border: 10px;
    border: solid;
  }
  
  .card.flipped {
    transform: translateX(-50%) rotateY(180deg);
  }
  
/* 기본 이미지 스타일 */
.image {
  width: 100%;
  height: auto;
}

/* 화면 크기에 따른 이미지 크기 조정 */
/* @media (max-width: 1180px) {
  .card {
    width: 10%;
  }
}

@media (max-width: 480px) {
  .card {
    width: 10%;
  }
} */
  

  @keyframes slideInCard1 {
    0% {
      top: -300px;
        }
    100% {
      top: 50%;
      left: 10%;
    }
  }
  
  @keyframes slideInCard2 {
    0% {
      top: -300px;
    }
    100% {
      top: 50%;
      left: 30%;
    }
  }
  @keyframes slideInCard3 {
    0% {
      top: -300px;    }
    100% {
      top: 50%;
      left: 50%;
    }
  }
  
  @keyframes slideInCard4 {
    0% {
      top: -300px;    }
    100% {
      top: 50%;
      left: 70%;
    }
  }
  @keyframes slideInCard5 {
    0% {
      top: -300px;    }
    100% {
      top: 0%;
      left: 90%;
    }
  }
  
  @keyframes slideInCard6 {
    0% {
      top: -300px;    }
    100% {
      top: 100%;
      left: 90%;
    }
  }
  
  .animateCard1 {
    animation: slideInCard1 1s ease forwards;
  }
  
  .animateCard2 {
    animation: slideInCard2 1s ease forwards;
  }
  .animateCard3 {
    animation: slideInCard3 1s ease forwards;
  }
  
  .animateCard4 {
    animation: slideInCard4 1s ease forwards;
  }
  .animateCard5 {
    animation: slideInCard5 1s ease forwards;
  }
  
  .animateCard6 {
    animation: slideInCard6 1s ease forwards;
  }

  
 